---
import Container from "@components/Container.astro"
import PageLayout from "@layouts/PageLayout.astro"
import Link from "@components/Link.astro"
import { SITE, HOME } from "@consts"
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class='space-y-16'>
      <div class='flex flex-col md:flex-row items-start gap-8'>
        <div class='flex-1'>
          <h1
            class='animate text-3xl font-bold text-black dark:text-white mb-4'
          >
            Hey - I'm Ilya!
          </h1>
          <p class='animate'>
            I'm a product-minded software engineer. I've dedicated my whole life
            to talking to the user and shipping iteratively with AI. I'm great
            at greenfield or growth projects, and figuring out what the user
            will actually buy. If this sounds like someone you're really excited
            about working with, then <Link
              href={`mailto:${SITE.EMAIL}?subject=Ilya - saw your personal site and wanted to connect!`}
              >let's talk</Link
            > :)
          </p>
        </div>
        <img
          src='/me.jpg'
          alt='Ilya Tkachov'
          class='animate w-48 h-48 rounded-full object-cover'
        />
      </div>
      <section class='animate space-y-2'>
        <h3 class='text-md font-semibold text-black dark:text-white'>
          Things I'm really proud of - and I think you would find really cool
          too
        </h3>
        <div class='space-y-4'>
          <p>
            Co-founded a social platform for artists (think Patreon but for
            artists) and grew it to 10,000 monthly users, mastering the creator
            marketplace and building one of the best video and image browsing
            experiences.
          </p>
          <p>
            Applied and interviewed for YCombinator, which is more difficult
            than getting accepted to Harvard and showcases a mastery of product.
          </p>
        </div>
      </section>

      <section class='animate space-y-4'>
        <p>
          You can find my thoughts on <Link
            href='https://x.com/ilyatkcv'
            external>X</Link
          >
        </p>
        <p>
          You can find my full experience on <Link
            href='https://www.linkedin.com/in/ilyatkachov/'
            external>LinkedIn</Link
          >
        </p>
        <p>
          You can stalk my commit graph on <Link
            href='https://github.com/ilya-tkachov'
            external>Github</Link
          >
        </p>
      </section>
    </div>
  </Container>
</PageLayout>
